@import url(https://db.onlinewebfonts.com/c/46d0e2622f837d76240340a4c3fb93de?family=PitchSans-Bold);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "PitchSans-Bold";
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #fff;

}

.navbar-logo {
    font-size: 24px;
    text-decoration: none;
    color: #000000;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
}

.navbar-links a:hover {
    text-decoration: underline 2px solid darkgoldenrod;
}

button {
    background-color: darkorange;
    border: none;
    padding: 5px 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;

}

/* Responsive design */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding: 10px 0;
        text-align: center;
        color: black;
    }

    button {
        padding: 5px 10px;
        font-size: 13px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links a {
        margin: 10px 0;
        color: black;
    }

    .menu-toggle {
        display: block;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }
}
















.pn {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.029375rem;
    line-height: 1.5rem;
    white-space: nowrap;
    color: rgb(74, 73, 74);
}

.loc {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.029375rem;
    line-height: 1.5rem;
    white-space: nowrap;
}

.container {
    width: 100%;
    max-width: 3024px;
    background-color: royalblue;
    overflow: hidden;
}

.phover:hover {
    transition: all 1s ease-in-out;
    text-decoration: underline;
}

.navbar {
    width: 100%;
}

.tepa {
    width: 100%;
    height: 62px;
    background-color: rgb(253, 249, 245);
    display: flex;
    justify-content: center;
    align-items: center;

}

.p1 {
    font-weight: 600;
}

.p2 {
    font-weight: 600;
    margin-left: 25px;
    border-bottom: 1.7px solid black;
}



.left,
.right {
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
}

.phover {
    cursor: pointer;
}

.ord {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.029375rem;
    line-height: 1.5rem;
    white-space: nowrap;
    color: rgb(65, 57, 65);
    background-color: rgb(200, 126, 30);
    margin-left: 10px;
    border: none;
    width: 100px;
    height: 30px;
}

.ord:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.center {
    top: 0;
    right: 0px;
    left: 0px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-align: center;
    z-index: 5;
    transition: background-color 320ms ease-in-out 0s;
    box-shadow: rgba(147, 147, 147, 0.12) 0.1875rem 1.125rem 1.5625rem 0px;
    background-color: rgb(255, 255, 255);
    height: 72px;
    position: sticky;
}

.h1_center {
    font-size: 2rem;
}

.rasm {
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-image: url("//images.ctfassets.net/aujcl8g9bu47/3umdmPJNffHdV4Skv7FJkL/52b1f76e304d4407db7bbaad4127b0cf/TARTINE_HERO.jpeg?w=2000&fm=jpg&fl=progressive&q=90");
}



.name {
    padding-top: 25%;
    margin-left: 10%;
    text-shadow: 1px 1px #000;
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 0px;
    line-height: 3rem;
}

.pp {
    width: 20%;
    margin-left: 10%;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: .09625rem;
    line-height: 1.75rem;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 9rem;

}

.box_contaienr {
    display: flex;
}

.box1 {
    margin-left: 8%;
}

h4 {
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;

}

.box>p {
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    margin-top: 10px;
}

.box {
    padding: 10px 20px;
}

.section2 {
    display: flex;
    width: 100%;
    height: 75vh;
    background-color: #fff;
}

.sc2h1 {
    width: 10%;
    margin: 0 auto;
    font-size: 2rem;
}

.section_left {
    width: 45%;
    text-align: center;
    padding-top: 20%;
}

.section_left1 {
    width: 30%;
}

.section_right {
    width: 55%;
    padding: 2% 0;
}

.left {
    gap: 5%;
    width: 30%;
}

.card_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 65%;
    height: 65vh;
}

.card2 {
    margin-left: 40px;
}

.img {
    width: 100%;
    height: 30vh;

}

.img1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-image: url("//images.ctfassets.net/aujcl8g9bu47/1HSw6u0qII1YesTeQv0kFr/725be5e989f5fa14372cea4bdd1939b7/Bread_Crate_Amy_Holt__2_.jpg?w=800&fm=jpg&fl=progressive&q=90");
}

.img2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-image: url("//images.ctfassets.net/aujcl8g9bu47/JzxpPTv2HcfJQ5YzsyuuZ/66b67f98d0572c7e20258cf0ad94ee88/Preorder_HOLIDAY_QR_V1.jpg?w=800&fm=jpg&fl=progressive&q=90");
}

.img1:hover {
    transform: scale(1.2);
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 30vh;
    transition: all 0.5s ease-in-out;

}

.card1 {
    position: relative;
    overflow: hidden;
}

.p5 {
    margin: 20px 0;
}

.p6 {
    margin: 20px 0;
}

.btn {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    transition: background-color 320ms ease-in-out 0s;
    padding: 1rem 2.5rem;
    border-radius: 1px;
    border: 1px solid rgb(200, 126, 30);
    background-color: transparent;
    color: rgb(65, 57, 65);
    margin-top: 45%;

}

.btn:hover {
    background-color: rgb(200, 126, 30);
    text-decoration: underline;
}

.btn1 {
    margin-top: 38%;
}


.section3,
.section6 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 50px;
}

.section3_left {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.rnd {
    width: 70%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.section3_right {
    width: 100%;
    height: 70vh;
}

.rasm2 {
    width: 90%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/UuL85E6IUmji6nbbmN5Mc/c25d219c2ff33ef8bc8c4f42d17f13aa/tartine-manufactory---exterior_29309142961_o.jpg?w=800&fm=jpg&fl=progressive&q=90");
}

.sc3h2 {
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.1418rem;
    line-height: 1.5rem;
    color: rgb(35, 31, 32);
}

.sc3p1 {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0px;
    line-height: 25px;
    color: rgb(35, 31, 32);
    opacity: 0.6;
}

.sc3p {
    width: fit-content;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    transition: border 320ms ease-in-out 0s;
    padding: 1rem 0px;
    border-bottom: 1px solid rgb(200, 126, 30);
    color: rgb(74, 73, 74);
}



.section4 {
    width: 100%;
    height: 30vh;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: #fff;
    margin-top: 40px;
    text-align: center;


}

.section4>h1 {
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
    line-height: 1.875rem;
}

.section4>h2 {
    margin-top: 60px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.0625rem;
    line-height: 2.5rem;
    font-weight: 200;
    opacity: 0.5;
}




.section5 {
    width: 100%;
    height: 70vh;
    text-align: center;
    background: #fff;

}

.rasm3 {
    background-image: url("//images.ctfassets.net/aujcl8g9bu47/237ZoPavygeiymKiaQsEEc/8e6f57e1340037a08e3ba55e07ed8a23/dough-turns.jpg?w=800&fm=jpg&fl=progressive&q=90");
}

.sc6r {
    margin-left: 50px;
}

.sc3p:hover {
    text-decoration: underline;
    cursor: pointer;
    border: none;
}



.section7 {
    width: 100%;
    background-color: white;
    text-align: left;
    height: 35vh;
}

.sc7h1 {
    width: 72%;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.0625rem;
    line-height: 3.5rem;
    color: rgb(74, 73, 74);
    padding: 6% 0 3% 13%;

}


.section8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background-color: white;
    margin-top: 10%;
}

.cardd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.022);
}

.imgc8 {
    height: 40vh;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/JDLRgGopA6jJsBlRT0ZUB/88014f27935c9b5a4fc42356560c8245/ROBE_BreadBook_3D__1_.png?w=800&fm=jpg&fl=progressive&q=90   ");

}

.img2c8 {
    height: 40vh;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/2NV6E0jE56f1ReT8C9dhnd/7fff09d3e251f39e24cc6af3cf08819b/IMG_1307.jpeg?w=800&fm=jpg&fl=progressive&q=90  ");

}

.cardd>p {
    font-size: 1rem;
    letter-spacing: 0.16685rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.section_left1>p {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0px;
    line-height: 25px;
    color: rgb(35, 31, 32);
}

.islom {
    margin-top: 5%;
}

.rnd h2~p {
    margin-top: 10%;
}


.section9 {
    margin-top: 10%;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.r {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 29%;
    height: 80vh;
}

.section10 {
    width: 100%;
    height: 90vh;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hojak {
    width: 100%;
    height: 80vh;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.r4 {

    width: 95%;
    height: 90vh;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/5asN0QFKYVT2mH4PjSU7TZ/b7235883cd0cbc7b1e1ee6ef96502647/TARTINE_x_COFFEE__1320.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.rr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.r5 {

    width: 60%;
    height: 80vh;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/YxGhE1RwiWmQGimQ8qss4/c8179e0cb3648d7984864a8d017792c6/manufactory-sf-2-36.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.r6 {
    width: 30%;
    height: 80vh;
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/1Mvp2Jg26cIka2UcKSSGwk/5beb6eb78ab45b24f498525f55652e45/renes-rye_19753803945_o.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.r1 {

    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/6iZQFxqMjmwiISKu24soAK/f0221af02e2997e4a7bb8757b5fc050b/Smoked_Salmon_Tartine_Amy_Holt__2_.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.r2 {
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/540OLjU3IIuaMsKuEImeOs/3fdc020a92b5f417a7e51bddeff9cce6/Bread_Crate_Amy_Holt__2_.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.r3 {
    background-image: url("https://images.ctfassets.net/aujcl8g9bu47/6oES3JTjt6oeceeYoeg46e/7ab0bd4a1e4c608a0b4e7465c94eb810/Lemon_Cream_Tart_Amy_Holt.jpg?w=1800&fm=jpg&fl=progressive&q=90");
}

.sc8h1 {
    width: 100%;
    margin-bottom: 3rem;
    color: rgb(35, 31, 32);
    font-weight: 600;
    font-size: 1.125rem;
    letter-spacing: 0.1418rem;
    line-height: 1.5rem;
}

.imggg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("//images.ctfassets.net/aujcl8g9bu47/1KpzG5H5UPdt76UJvmOOzY/fbbe1b7db7f74f66fe0d86377eb99621/TARTINE_x_COFFEE__1214.jpg?w=800&fm=jpg&fl=progressive&q=90");
}

.footer {
    width: 100%;
    height: 60vh;
}

.footer h1 {
    position: relative;
    color: goldenrod;
    margin-left: 10%;
    margin-top: 7%;
}

.fot_pass {
    width: 25%;
    height: 30vh;
    position: relative;
    right: -70%;
    bottom: 40%;
    text-align: center;
    padding: 2rem;
}

.fot_pass p {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    cursor: pointer;
    margin-top: 20%;
}

.p_kota>p {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    margin-top: 8%;
    cursor: pointer;
}

.p_kic p {
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 0.04125rem;
    line-height: 1.0625rem;
    margin-top: 8%;
    cursor: pointer;
}

.fot_tepaa {
    width: 40%;
    height: 30vh;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.in {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.inp {
    width: 80%;
    height: 15vh;
    background-color: rgba(255, 255, 0, 0.165);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp>h4 {
    margin-right: 5%;
}

.inp>input {
    width: 30%;
    height: 5vh;
    margin-left: 2%;
    border: none;
    background-color: rgba(255, 255, 0, 0);
    outline: none;

}

.section2 {
    flex-direction: column;
    padding-left: 100px;
}

.section_right {
    width: 100%;
    /* padding: 100px 0; */
}

.section3 {
    padding-top: 100px;
}

.sc2h1 {
    width: 10%;
    margin: 0 0;
    font-size: 2rem;
}

.section4 {
    padding-top: 150px;
}


@media all and (max-width: 1045px) {
    .section2 {
        flex-direction: column;
        padding-left: 100px;
    }

    .section_right {
        width: 100%;
    }

    .section8 {
        padding-top: 50px;
        padding-left: 110px;
        align-items: start;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 100px;
    }

    /* .section_left1{
        padding-right: 100%;
    }  */
    .section_right {
        width: 100%;
        background-position: center;
    }

    .img2 {
        width: 100%;
        background-position: center;
    }

    .r {
        width: 30%;
        height: 60vh;
    }

    .r5 {
        width: 40%;
        height: 60vh;
    }

    .r6 {
        width: 40%;
        height: 60vh;
    }

    .fot_tepaa {
        gap: 30px;
        margin-left: 10%;
    }

    .inp>h4 {
        padding-left: 10px;
    }

    .section_left1>p {
        font-weight: 400;
        width: 100%;
        font-size: 20px;
        letter-spacing: 0px;
        line-height: 25px;
        color: rgb(35, 31, 32);
    }
}

@media all and (max-width: 904px) {
    .section8 {
        padding-top: 100px;
    }
    .fot_tepaa{
        display: flex;
        flex-direction: column;
    }

}

@media all and (max-width: 768px) {
    .menu-items {
        display: block;
        position: static;
    }
}